.header, .footer{
    border-radius:0.3em;
}
.header a {
    font-size: 1em;
}
.footer{
    font-size: 0.5em;
}

#map{
    height: 25vh;
}

.filter-options{
    display: block;
}

.filter-options h2{
    width: 100%;
    margin: 0.5em 0;
    display: block;
}

.filter-options select{
    width:33%;
}

.filter-options .filter-btn{
    width: 30%;
    border-style: initial;
}

.filter-options *{
    margin: 0;
}

#restaurants-list{
    justify-content: center;
}
#restaurants-list li {
    width: 90vw;
    margin:0 0 1em;
}

#restaurants-list li img {
    height: 30vh; 
}

/* restaurant info  */
#restaurant-container, #reviews-container{
    display: block;
    margin: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.restaurant-info{
    /* background: antiquewhite; */
    border-radius: 2%;
    padding: 0.5em;
}

#restaurant-name{
    margin: 0;  
}

#restaurant-img{
    display: block;
    width: 85vw;
    height: 25vh;
    margin: 0 auto;
}
.restaurant-tab{
    height: 25vh;
    display: block;
    width:100%;
    padding: 2em 0;
}

#restaurant-hours{
    border-collapse: collapse;
    border: 1px solid;
    width:85%;
    text-align: center;
    margin: 0 7%;
}

.table-head {
    background: black;
    color: white;
    border: 1px solid black;
}

#restaurant-cuisine, #restaurant-address{
    text-align: center;
    margin: 0;
}

#reviews-container{
    position: absolute;
}
#reviews-container h2{
    margin: 0;
}

#reviews-list{
    list-style: none;
    padding: 0 1em;
}

#reviews-list li{
    margin:0 0 2em 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.review{
    background:#546E7A;
    color:white;
}

.review-name{
    display: inline-block;
}

.review-date{
    display: inline-block;
    float: right;
}

.review p{
    margin: 0;
    padding:0 0.5em;
    color: white;
}

.review-comments{
    margin: 0;
    padding:0.4em;
}

