#restaurant-container, #reviews-container{
    margin:10vh 10vw;
}

#restaurant-info{

}
#restaurant-name{
    color: #111111;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    line-height: 20px;
    padding: 0.5em;
    width: 40vw;
    display: inline-block;
}

.heart-icon-box{
    display: inline-block;
    cursor: pointer;
}

.heart-icon-box i {
    font-size: 1.5em;
    color: red;
}


#restaurant-img{
    width: 50vw;
    height:50vh;
    display: inline-block;
}


.restaurant-tab{
    display: inline-block;
    height: 50vh;
    width: 25vw;
    margin: 0 auto;
    position: relative;
}

#restaurant-hours{
    border-collapse: collapse;
    position: absolute;
    width:20vw;
    top: 50%;
    transform: translateY(-50%);
    margin:0 10%;
    text-align: center;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    line-height: 16px;
    color: #111111;
}

.table-head{
    background: black;
    color: white;
}
#reviews-container h3{
    color: #111111;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    line-height: 20px;
    padding: 0.5em;
    width: 40vw;
    display: inline-block;
    /* border: 1px solid black; */
}
#restaurant-cuisine,#restaurant-address{
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    line-height: 16px;
    color: #111111;
    padding: 0 1em;
}
#reviews-list{
    list-style: none;
}

#reviews-list li{
    border-bottom: 1px solid rgba(17,17,17,0.1);
    margin: 2em 0;
    font-family: Roboto, Arial, sans-serif;
    color:#111111;
}

.review{
    /* background: black; */
    /* color: white; */
}

.review-user{
    height: 50px;
    width: 50px;
    border-radius: 50%;    
    vertical-align: middle;
}

.review-name,.review-rated{
    font-weight: 500;
    line-height: 18px;
    font-size: 13px 
}

.review-name, .review-date, .review-rated{
    display: inline-block;
    margin: 0;
    padding:1em;
    vertical-align: middle;
}

.review-rated{
    color: #00E676;
}

.review-date{
    float: right;
    line-height: 18px;
    font-size: 13px;
    color: rgba(17,17,17,0.6);
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
}

.review-comments{
    margin: 0;
    padding: 1em;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}   

#add-review{
    width: 30vw;
    margin: 0 auto;
}
.inp-text, #comments,#add-review-btn{
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
}

.inp-text:focus, #comments:focus,#add-review-btn:focus{
    outline: none;
    box-shadow: 0 0 0 2px skyblue; 
}

button#add-review-btn {
    width: 30%;
    height: 2em;
    display: inline-block;
    float: right;
    margin: 1em 1em;
    border-radius: 3px;
    text-transform: uppercase;
    background: white;
    border:2px solid skyblue;
    color:skyblue;
    font-weight: bolder;
    box-shadow: -2px 8px 15px rgba(135, 206, 250, 0.2);
}

button#add-review-btn:hover{
    box-shadow: -2px 8px 15px rgba(135, 206, 250, 0.3);
}


button#cancel-review {
    display: inline-block;
    float: right;
    border-radius: 50%;
    background: white;
    height: 2em;
    width: 2em;
    margin: 1em auto;

    background: #F44336;
    border: 2px solid #F44336;
}
#cancel-review:focus{
    outline: none;
    border:2px solid #F44336;
    box-shadow: 0px 3px 7px #F44336;
}

#cancel-review:hover{
    outline: none;
    border:2px solid #F44336;
    color: white;
}

#reviewer-name{
    height: 2em;
    border-width: 1px;
}


.rating-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-add-icon{
    display: inline-block;
    cursor: pointer;
    color:white;
    background: #02B3E4;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0.5em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.review-add-icon:hover{
    box-shadow: -2px 10px 17px rgba(0, 0, 0, 0.3);
}

.review-add-icon i {
    font-size: 1.2em;
    margin: 0 0.5em;
}

.disp-none{
    display: none;
}
.disp-blk{
    display: block;
}

